@model TimeManagementApp.Models.ViewModel.SignUp

@{
    ViewBag.Title = "SignUp";
}

<h2 class="pt-3">Register</h2>

<div>
    @using (Html.BeginForm("SaveSignUp", "Home"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <div class="row">
            <div class="col-lg-12" style="color: green">@ViewBag.Message</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.Firstname)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.Surname)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.Email)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.Password)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(model => model.ConfirmPass)</div>
            <div class="col-lg-10">@Html.TextBoxFor(model => model.ConfirmPass, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <input type="submit" value="Register" class="btn btn-primary" />

    }

</div>